* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    /*box-sizing: border-box;*/
}

#btn-windowOpen {
    margin: 20px;
    padding: 2px 6px;

    border: 1px solid black;

    font-size: 20px;
}

#modal-window {
    width: 100vw;
    height: 100vh;

    background-color: #000000AA;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.block {
    width: 70px;
    height: 70px;

    position: absolute;

    border: 3px solid white;
}

#red {background-color: red;}
#green {background-color: green;}
#blue {background-color: blue;}

#closeModal {
    padding: 10px 0px;
    border: 3px solid white;

    width: 100px;

    background-color: black;

    color: white;
    font-size: 20px;
    text-align: center;

    position: absolute;
    bottom: 20px;

    left: calc((100vw - 200px) / 2);

    user-select: none;
    cursor: pointer;
}

#closeModal:hover {
    background-color: cyan;
}